<style type="text/css">
/*
 * Copyright 2013 Christophe-Marie Duquesne <chmd@chmd.fr>
 *
 * CSS for making a resume with pandoc. Inspired by moderncv.
 *
 * This CSS document is delivered to you under the CC BY-SA 3.0 License.
 * https://creativecommons.org/licenses/by-sa/3.0/deed.en_US
 */

/* This bit just for CM fonts */
@font-face {
	font-family: 'Computer Modern Serif';
	src: url('/fonts/Serif/cmunrm.eot');
	src: url('/fonts/Serif/cmunrm.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/Serif/cmunrm.woff') format('woff'),
		 url('/fonts/Serif/cmunrm.ttf') format('truetype'),
		 url('/fonts/Serif/cmunrm.svg#cmunrm') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Serif';
	src: url('/fonts/Serif/cmunbx.eot');
	src: url('/fonts/Serif/cmunbx.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/Serif/cmunbx.woff') format('woff'),
		 url('/fonts/Serif/cmunbx.ttf') format('truetype'),
		 url('/fonts/Serif/cmunbx.svg#cmunbx') format('svg');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Serif';
	src: url('/fonts/Serif/cmunti.eot');
	src: url('/fonts/Serif/cmunti.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/Serif/cmunti.woff') format('woff'),
		 url('/fonts/Serif/cmunti.ttf') format('truetype'),
		 url('/fonts/Serif/cmunti.svg#cmunti') format('svg');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'Computer Modern Serif';
	src: url('/fonts/Serif/cmunbi.eot');
	src: url('/fonts/Serif/cmunbi.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/Serif/cmunbi.woff') format('woff'),
		 url('/fonts/Serif/cmunbi.ttf') format('truetype'),
		 url('/fonts/Serif/cmunbi.svg#cmunbi') format('svg');
	font-weight: bold;
	font-style: italic;
}

/* Whole document */
body {
    font-family: "Computer Modern Serif", Garamond, "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 800px;
    margin: auto;
    color: #404040;
    background: #FFFFFF;
    padding: 10px 10px 10px 10px;
}

/* Title of the resume */
h1 {
    font-size: 60px;
    color: #404040;
    text-align:left;
    font-variant: small-caps;
    margin-bottom:0px;
    margin-top:0px;
}

#h1:hover {
#    background-color: #757575;
#    color: #FFFFFF;
#    text-shadow: 1px 1px 1px #333;
#}

/* Titles of categories */
h2 {
    /* This is called "sectioncolor" in the ConTeXt stylesheet. */
    color: #404040;
    /*font-variant: small-caps;*/
}
/* There is a bar just before each category */
/*h2:before {
    content: "";
    display: inline-block;
    margin-right:1%;
    width: 16%;
    height: 10px;
    /* This is called "rulecolor" in the ConTeXt stylesheet. */
    background-color: #636c89;
}*/
#h2:hover {
#    background-color: #397249;
#    color: #FFFFFF;
#    text-shadow: 1px 1px 1px #333;
#}

/* Definitions */
dt {
    float: left;
    clear: left;
    width: 17%;
    /*font-weight: bold;*/
}
dd {
    margin-left: 17%;
    margin-top:10px;
}
p {
    margin-top:0;
    margin-bottom:18px;
    text-align: justify;
    text-justify: inter-word;
}

p.subtitle {
    font-size: 25px;
    color: #404040;
    text-align:left;
    font-variant: small-caps;
    margin-bottom: 5px;
    margin-top: -10px;
}
/* Blockquotes */
blockquote {
    text-align: center;
    font-size: 18px;
    color: #757575
}

/* Links */
a {
    text-decoration: none;
    color: #404040;
}
a:hover, a:active {
    background-color: #636c89;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
}

/* Horizontal separators */
hr {
    color: #A6A6A6;
}

table {
    width: 100%;
}
</style>
